<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        {{!-- <span role="img" aria-label="money"></span>
        <a href="/">Fund My Project!</a> --}}
        <div class="logo">
          <img src="{{logoSrc}}" alt="Paws to Doors">
          <span>{{logoText}}</span>
        </div>
      </h1>
      <nav>
        <ul class="nav-tabs">
          {{#each tabs}}
            <li><a href="{{this.href}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
        {{!-- SEARCH BAR --}}
        <div class="search-bar">
          <input type="text" placeholder="Search...">
          <button type="submit">Search</button>
        </div>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
