<body>
  {{> header}}
  <div class="container">
    <h1>Welcome to the Pet Adoption Agency</h1>
    <div>
      {{#each pets}}
        <div class="pet-card" data-type="{{type}}">
          <h2>{{name}}</h2>
          <p>Type: {{type}}</p>
          <p>Breed: {{breed}}</p>
          <p>Age: {{age}}</p>
          <p>Health Status: {{health_status}}</p>
          <p>Description: {{description}}</p>
          <p>Location: {{location}}</p>
          <img src="{{image_url}}" alt="Picture of {{name}}">
          <a href="/pet/{{id}}">View Details</a>
        </div>
      {{/each}}
    </div>
  </div>
  <script src="/js/filterPets.js"></script>
</body>
</html>


